@use '_func_mixins' as *;

/* raleway-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/raleway-v37-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/raleway-v37-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/open-sans-v44-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/open-sans-v44-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// Font Family
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// Font-sizes
$fs-header: clamp(1.25rem, 0.057251908396946494rem + 5.089058524173028vw, 2.5rem);
$fs-header-text: clamp(0.875rem, 0.5rem + 1.5vw, 1.25rem);
$fs-600: px-to-rem(16);
$fs-500: px-to-rem(14);
$fs-400: px-to-rem(12);
$fs-300: px-to-rem(10);
$fs-200: px-to-rem(7);

// Font weight variables
$fw-regular: 400;
$fw-bold: 700;

// Line heights
$lh-120: 1.2;
$lh-150: 1.5;
$lh-180: 1.8;

// Letter Spacing
$ls-lg: 0.5px;

@mixin text-style ($font, $size, $weight, $lineheight, $spacing : 0) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineheight;
  letter-spacing: $spacing;
}

// Font settings
// Text - Preset 1
@mixin header-1 {
  @include text-style($font-primary, $fs-header, $fw-bold, $lh-120);
}

// Header text
@mixin header-text {
  @include text-style($font-secondary, $fs-header-text, $fw-regular, $lh-150);
}

// Button styles
@mixin button {
  @include text-style($font-primary, $fs-500, $fw-bold, $lh-120);
}

// Link styles
@mixin link {
  font-family: $font-primary;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.67rem + 0.35vw, 1rem);
  letter-spacing: 0.02em; // added to create a bit more spacing between letters due to hover effect
  font-weight: 400;
  color: #fff;
  transition: font-weight 150ms ease, letter-spacing 150ms ease;


  &:hover,
  &:focus {
    font-weight: 700;
    letter-spacing: 0;
  }
}

//features title
@mixin features__title {
  @include text-style($font-primary, px-to-rem(20), $fw-bold, $lh-120);
}

//features text
@mixin features__text {
  @include text-style($font-secondary, px-to-rem(14), $fw-regular, $lh-150);
}

//productive title
@mixin productive__title {
  @include text-style($font-primary, clamp(1rem, -0.4312977099236641rem + 6.106870229007634vw, 2.5rem), $fw-bold, $lh-120);
}

// productive text
@mixin productive__text {
  @include text-style($font-secondary, clamp(0.875rem, 0.7557251908396947rem + 0.5089058524173028vw, 1rem), $fw-regular, $lh-150 );
}

// testimonial quote
@mixin testimonial__quote {
  @include text-style($font-secondary, px-to-rem(10), $fw-regular, $lh-180, $ls-lg);

  @include respond-to(md) {
    font-size: px-to-rem(14);
    line-height: $lh-150;
    letter-spacing: normal;
  }
}

// testimonial author name
@mixin testimonial__name {
  @include text-style($font-primary, px-to-rem(10), $fw-bold, $lh-150, $ls-lg);
}

// testimonial author position
@mixin testimonial__position {
  @include text-style($font-secondary, px-to-rem(7), $fw-regular, $lh-150, $ls-lg);
}

// cta title
@mixin cta__title {
  @include text-style($font-primary, px-to-rem(20), $fw-bold, $lh-120);

  @include respond-to(md) {
    font-size: px-to-rem(40);
  }
}