@use '../utils/' as *;

.button {
  @include button;
  color: $color-white;
  background-image: $gradient;

  padding: var(--spacing-200) var(--spacing-1000);

  border: none;
  border-radius: px-to-rem(24);

  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blue-250;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }

}

