@use '../utils/' as *;

.button {
  --blue-250: linear-gradient(#8ADAE3);
  @include button;
  background-image: linear-gradient(135deg, #63E1D9, #34A0CD);
  color: #fff;
  border: none;

  padding: var(--spacing-200) var(--spacing-1000);
  border-radius: px-to-rem(28);
  cursor: pointer;

  /* To position pseudo element */
  position: relative;
  /* To position correctly we will use flex layout */
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // Must be same as we will hide pseudo element behind the button
    border-radius: px-to-rem(28);
    opacity: 0;
    /* to display linear-gradient we use background-image property */
    background-image: var(--blue-250);
    /* To place it behind the button */
    z-index: -1;
    // for opacity transition, so we can have smooth transition effect
    transition: opacity 0.3s ease-in;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &:hover {
    z-index: 0;
  }
}