@use '../utils/' as *;

.cta {
  padding: var(--spacing-500) var(--spacing-300);
  background-color: $navy-850;
  margin-inline: auto;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);

  @include respond-to(md) {
    max-width: px-to-rem(863);

    padding: var(--spacing-600) var(--spacing-500);
  }

  @include respond-to(lg) {
    padding: var(--spacing-600) var(--spacing-1000);
  }

  &__title {
    @include cta__title;
    text-align: center;
  }

  &__text {
    @include features__text;
    text-align: center;
    margin-top: var(--spacing-300);
    margin-bottom: var(--spacing-400);

    @include respond-to(md){
      margin-top: var(--spacing-100);
    } 
  }
}