@use '../utils/' as *;

.features {
  --max-content-width:#{px-to-rem(907)};
  background-color: $navy-900;

  padding-top: px-to-rem(140);
  padding-bottom: px-to-rem(160);

  @include respond-to(md) {
    padding-top: px-to-rem(150);
    padding-bottom: px-to-rem(120);

  }

  @include respond-to(lg) {
    padding-top: px-to-rem(146);
    padding-bottom: px-to-rem(146);

  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
    row-gap: var(--spacing-1000);
    column-gap: var(--spacing-200);

    @include respond-to(md) {
      row-gap: var(--spacing-900);
      column-gap: var(--spacing-1000);
    }

    @include respond-to(lg) {
      row-gap: var(--spacing-1000);
      column-gap: var(--spacing-1350);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-300);

    @include respond-to(md) {
      gap: var(--spacing-200);

      &:nth-child(2) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      &:nth-child(3) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }

    }
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(5rem, 3.9285714286rem + 5.3571428571vw, 6.5rem);
    height: clamp(5rem, 3.9285714286rem + 5.3571428571vw, 6.5rem);
  }

  &__icon {
    max-width: 90%;
    max-height: 90%;
  }

  &__title {
    @include features__title;
  }

  &__description {
    @include features__text;
  }
}