@use '../utils/' as *;

.header {
  margin-top: clamp(1.5rem, 0.5rem + 5vw, 5rem);
  
  margin-bottom: var(--spacing-600);

  @include respond-to(md) {
    margin-bottom: var(--spacing-1050);
  }
  
  @include respond-to(lg) {
    margin-bottom: var(--spacing-800);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: clamp(5rem, 3.2857142857rem + 8.5714285714vw, 11rem);
  }

  &__list {
    display: flex;
    gap: clamp(1.5rem, 0.9285714286rem + 2.8571428571vw, 3.5rem);
  }

  &__link {
    color: #fff;
    @include link;
  }

}