@use '../utils/' as *;

.hero {
  margin-bottom: px-to-rem(140);

  @include respond-to(md) {
    margin-bottom: px-to-rem(150);
  }

  @include respond-to(lg) {
    margin-bottom: px-to-rem(146);
  }

  &__container {
    max-width: px-to-rem(736);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-300);
  }

  &__title {
    @include header-1;
  }

  &__text {
    width: clamp(18.5rem, 0.9666030534351151rem + 74.80916030534351vw, 36.875rem);
    height: px-to-rem(108);
    @include header-text;

    @include respond-to(md) {
      height: auto;
    }
  }
}