@use '../utils/' as *;

.productive {
  --max-content-width:#{px-to-rem(1186)};
  background-color: $navy-900;

  padding-bottom: px-to-rem(150);

  @include respond-to(md) {
    padding-bottom: px-to-rem(72);
  }

  @include respond-to(lg) {
    padding-bottom: px-to-rem(120);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-300);

    @include respond-to(lg) {
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-700);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);

    @include respond-to(md) {
      gap: var(--spacing-300);
    }

    @include respond-to(lg) {
      max-width: px-to-rem(516);
    }
  }

  &__title {
    @include productive__title;

    @include respond-to(lg) {
      width: 15ch;
      ;
    }
  }

  &__text {
    @include productive__text;
  }

  &__link-content {
    // @include link;
    font-family: $font-primary;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.67rem + 0.35vw, 1rem);
    display: inline-block;
    color: $blue-300;
    border-bottom: 1px solid $blue-300;
    transition: all 150ms ease-in-out;

    &:hover,
    &:focus {
      color: hsl(0, 0%, 100%);
      border-bottom: 1px solid hsl(0, 0%, 100%);

      svg use {
        fill: white;
      }

    }

    svg {
      margin-left: var(--spacing-100);
      vertical-align: middle;
      transition: all 150ms ease-in-out;
    }


  }
}