@use '../utils/' as *;

.testimonials {

  margin-bottom: px-to-rem(150);

  @include respond-to(md) {
    margin-bottom: px-to-rem(80);
  }

  @include respond-to(lg) {
    margin-bottom: px-to-rem(200);
  }

  &__grid {
    max-width: 100%;
    padding-inline: var(--spacing-300);
    display: grid;
    gap: var(--spacing-300);

    @include respond-to(md) {
      padding-inline: var(--spacing-800);
      gap: var(--spacing-500);
    }

    @include respond-to(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--spacing-500);
      padding-inline: var(--spacing-500);

    }
  }

  &__card {
    padding: var(--spacing-300);
    background-color: $navy-800;

    @include respond-to(md) {
      padding: var(--spacing-500);
    }

    @include respond-to(lg) {
      padding: var(--spacing-400) var(--spacing-300);
    }
  }

  .testimonial {

    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);

    @include respond-to(md) {
      gap: var(--spacing-300);
    }

    &__quote {
      @include testimonial__quote;
    }

    &__author {
      display: flex;
      align-items: center;
      gap: var(--spacing-100);
    }

    &__avatar {
      width: px-to-rem(24);
      height: px-to-rem(24);
      border-radius: 50%;
      margin-right: px-to-rem(8);
    }

    &__name {
      display: block;
      @include testimonial__name;
    }

    &__title {
      @include testimonial__position;
    }


  }
}