@use '../utils/' as *;

.testimonials {
  background-color: $navy-900;
  padding-bottom: px-to-rem(150);

  // To make the quote visible on the first child of testimonial card
  position: relative;
  z-index: 10;

  @include respond-to(md) {
    padding-bottom: px-to-rem(80);
  }

  @include respond-to(md) {
    padding-bottom: px-to-rem(220);
  }

  &__container {

    @include respond-to(md) {
      padding-inline: px-to-rem(64);
    }

    @include respond-to(lg) {
      padding-inline: px-to-rem(42);
    }
  }

  &__grid {
    display: grid;
    gap: var(--spacing-300);

    @include respond-to(md) {
      gap: var(--spacing-500);
    }

    @include respond-to(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    padding: var(--spacing-300);
    background-color: $navy-800;
    border-radius: 4px;

    @include respond-to(md) {
      padding: var(--spacing-500);
    }

    @include respond-to(lg) {
      padding: var(--spacing-400) var(--spacing-300);
    }

    &:first-child {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        /* Pull it up and left */
        top: 0;
        left: 0;
        transform: translate(-10%, -40%);

        z-index: -1;

        width: clamp(2rem, 1.7125rem + 1.4375vw, 3.4375rem);
        aspect-ratio: 11 / 15;
        background-image: url("../../images/bg-quotes.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

  }

  .testimonial {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);

    @include respond-to(md) {
      gap: var(--spacing-300);
    }

    &__quote {
      @include testimonial__quote;
    }

    &__author {
      display: flex;
      align-items: center;
      gap: var(--spacing-100);
    }

    &__avatar {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    &__name {
      display: block;
      @include testimonial__name;
    }

    &__title {
      @include testimonial__position;
    }
  }

}