@use '../utils/colors' as c;

/* --------- */
/* Reset     */
/* --------- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// Help us to make calculationg width and heights easier, Default vaues are resetted
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  // outline: 1px solid olive; // For debugging reason
}

body {
  min-height: 100vh; //Prevents short pages being an issue
  background-color: c.$navy-800;
  color: c.$color-white;
  // background-image: url('../../images/bg-curvy-mobile.svg');
  // background-repeat: no-repeat;
  // background-position: center top clamp(17.5rem, 5rem + 53.333333333333336vw, 53rem);
  // background-size: 100% auto;

  // @media (min-width:768px) {
  //   background-image: url('../../images/bg-curvy-desktop.svg');
  // }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// to make images easier to work with
img {
  max-width: 100%;
  display: block;
  height: auto;
}

// As the buttons dont inherit font property
button,
li {
  font: inherit;
}